.InputContainer{
    display:flex;
    flex-direction: row;
    margin-bottom:30px;
}

.Input{
    padding: 10px;
    margin-right: 5px;
    width:100%;
    background-color: rgba(170, 221, 180, 0.386);
    color: white;
    border:none;
    margin-left: 30px;
}

.Input::placeholder{
    color:white;
    opacity:.5;
}

.AddButton{
    margin-left:10px;
    float:right;
}

.Label{
    color:white;
    margin-right:5px;
}